.polaroid {
    width: 40%;
    float: left;
   margin-left:5em;
   margin-bottom:3em;  
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polaroid:hover{
    transition: 1s;
    background-color:#111;
    color:#111;

}

img {width: 80%}
.container {
    
    text-align: center;
    padding: 10px 20px;
}

.sidebar-section Image{
    width:100%;
    margin-bottom:2em;
}
.main-section{
background-color:white;
}
Image{
    width:30%;
}
.header-container{
    margin-top:5em;
    margin-right: auto; 
    margin-left:  auto; 
  
    max-width: 960px; 
  
    padding-right: 10px; 
    padding-left:  10px;
}
.main-section p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    text-decoration-style: wavy;
}
.main-section p:hover{
    transition:.3s;
    color:red;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    text-decoration-style: wavy;
}